<img  srcset=" https://image.tmdb.org/t/p/w500{{poster_path}} 1x,
 				https://image.tmdb.org/t/p/original{{poster_path}} 2x" src='https://image.tmdb.org/t/p/w300{{poster_path}}'
			alt="{{original_title}}" loading="lazy" class="modal__img"/>
        <div class="modal__all-info">
            <h2 class="modal__title">{{original_title}}</h2>
            <div class="modal__main-info">
                <ul class="modal__list-info">
                    <li class="modal__item-info">
                        <p class="modal__part-info">Vote / Votes</p>
                        <p class="modal__info"><span class="modal__info-color">{{vote_average}}</span>
                        <span class="modal__info-light"> / {{vote_count}}</span>
                        </p>
                    </li>
                    <li class="modal__item-info">
                        <p class="modal__part-info">Popularity</p>
                        <p class="modal__info">{{popularity}}</p>
                    </li>
                    <li class="modal__item-info">
                        <p class="modal__part-info">Original Title</p>
                        <p class="modal__info">{{original_title}}</p>
                    </li>
                    
                    <li class="modal__item-info ">
                        <p class="modal__part-info">Genre</p>
                        <p class="modal__flex">
                            {{#each genres}}
                        <span class="modal__genre">{{this.name}}</span>
                            {{/each}}
                        </p>
                    </li>
                    
                </ul>
                <ul class="modal__list-info">
                    <li class="modal__item-info">
                        <span class="modal__info modal__info-color">{{vote_average}}</span>
                        <span class="modal__part-info">/</span>
                        <span class="modal__info modal__info-light">{{vote_count}}</span>
                    </li>
                    <li class="modal__item-info">
                        <span class="modal__info">{{popularity}}</span>
                    </li>
                    <li class="modal__item-info">
                        <span class="modal__info">{{original_title}}</span>
                    </li>
                    <li class="modal__item-info modal__genres">
                        {{#each genres}}
                        <span class="modal__info modal__genre">{{this.name}}</span>
                        {{/each}}
                    </li>
                </ul>
            </div>
            <h3 class="modal__title-description">About</h3>
            <p class="modal__description">{{overview}}</p>
                    
            <div class="modal__btns">
                <button class="modal__btn btn__watched add">add to Watched</button>
                <button class="modal__btn btn__queue add" >add to queue</button>
            </div>
        </div>