<li class="photo-card" id="{{id}}">
<img srcset=" https://image.tmdb.org/t/p/w500{{img}} 1x,
 				https://image.tmdb.org/t/p/original{{img}} 2x" src='https://image.tmdb.org/t/p/w300{{img}}'
			alt="{{original_title}}" loading="lazy">
<h2 class="film-discription film-title">{{original_title}}</h2>
<p class="film-discription film-details">{{genre_ids}} | {{release_date}}
<span class="film-discription film-reiting">{{vote_average}}</span></p>
   
</li>